@import url('https://fonts.googleapis.com/css?family=Oswald');


/* CARD 2  Title - starting - price *//* CARD 2  Title - starting - price */
/* CARD 2  Title - starting - price *//* CARD 2  Title - starting - price */
#title2{
    position:absolute;
    font-size:32px;
    line-height:45px;
    letter-spacing:5.5px;
    font-family: 'Oswald', sans-serif;
    font-weight:800;
    color:rgba(255,255,255,.8);
    border-bottom:2px rgba(0,0,0,.88) solid;
    padding:0 0 2px 0;
    display:inline-block;
    left:50%;
    transform:translate(-50%);
}

#title2.hovtitle2 {
    animation-delay:.4s!important;
    animation-fill-mode:both!important;
    animation:hovtitle2 .25s forwards!important;

}

@keyframes hovtitle2 {

    0%{
        border-bottom:2px rgba(0,0,0,.88) solid;
    }
    100%{
        border-bottom:2px rgba(0,0,0,0) solid;
    }
}


#start2{
    position:absolute;
    font-size:17px;
    margin:54px 0 0 0;
    letter-spacing:1.5px;
    font-family: 'Oswald', sans-serif;
    font-weight:500;
    color:rgba(255,255,255,.55);
    left:50%;
    transform:translate(-50%);


}


#price2{
    position:absolute;
    font-size:37px;
    margin:95px 0 0 0;
    letter-spacing:.5px;
    font-family: 'Oswald', sans-serif;
    font-weight:800;
    color:rgba(255,255,255);
    left:50%;
    transform:translate(-50%);
    text-shadow:-1.5px -1.5px 0px rgba(0,0,0,.88),
    1.5px 1.5px 0px rgb(73, 73, 73);
}


#price2.hovprice2 {
    animation-delay:.5s!important;
    animation-fill-mode:both!important;
    animation:hovprice1 .55s forwards!important;

}

@keyframes hovprice2 {

    0%{
        transform:translate(-50%)scale(1);
        text-shadow:-1.5px -1.5px 0px rgba(0,0,0,.88),
        1.5px 1.5px 0px rgb(73, 73, 73);
        font-weight:800;


    }
    100%{
        transform:translate(-50%)scale(1.1);
        text-shadow:-1.5px -1.5px 0px rgba(226, 226, 226, 0.88);
        font-weight:600;


    }

}

/* End CARD 2  Title - starting - price *//* CARD 2  Title - starting - price */









